.col-1{
	padding-top: 10%;
	border: solid;
	border-width: 0.1em;
	border-color: rgb(170, 170, 170); 
	border-collapse: collapse;
}

.blackSquare{
	background-color:#000000;
}
.orangeSquare{
	background-color:#ee8012;

}
.yellowSquare{
	background-color:#e9d732;
}
.greySquare{
	background-color: #303030;
}
