div{
	border: solid;
	border-width: 0.1em;
	border-color: #ffffff;
}
p{
	width: 40px;
	height: 40px;
}
.container{
	
}

.blackSquare{
	background-color:black;
}
.orangeSquare{
	background-color:#ee8012;

}
.yellowSquare{
	background-color:#e9d732;
}
.greySquare{
	background-color: #303030;
}